{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()

path_info.args ? 'path--' ~ path_info.args, 
current_path ? 'current--' ~ current_path|clean_class,
user.hasPermission('administer')  ? 'isAdmin',
user.getRoles()|join(' role_'),

 */
#}
{%
  set body_classes = [
    not root_path ? 'body--home' : 'body--' ~ root_path|clean_class,
    language ? 'body--lang-' ~ language|clean_class,
    not logged_in ? 'body--off' : 'body--in',
    not node_type ? 'body--type-off' : 'body--type-' ~ node_type|clean_class,
    db_offline ? 'db--offline',
    term_id ? 'body--tx-' ~ term_id, 
    page.sidebar and page.aside ? 'lateral--both',
    page.sidebar ? 'lateral--main',
    page.aside ? 'lateral--aside',
    not page.sidebar and not page.aside ? 'lateral--no',
  ]
%}


<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>

<body id="cleta" {{ attributes.addClass(body_classes) }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    #}
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
