body { overflow-x: hidden; }
body, body * { margin: 0; padding: 0; text-decoration: inherit; }
body { font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: 400; }
@media (min-width: 20rem) { body { font-size: 16px; } }
@media (min-width: 50rem) { body { font-size: 18px; } }
@media (min-width: 103rem) { body { font-size: 20px; } }
*, *:before, *:after { box-sizing: border-box; }

a { color: inherit; }
ol, ul { list-style: none; }
h1, h2, h3, b, strong, h4, h5, h6 { font-weight: 400; line-height: 1; } 
figure { overflow: hidden; position: relative; }
img, svg { display: block; height: auto; object-fit: cover; object-position: center; }
fieldset { border: 0; }
.visually-hidden, .hidden, .sr-only { display: none; }

:root {
    --color-primary: #38b64a;
    --color-secondary: #93278F;
    --color-secondary-sub: #6E1D6B;
    --color-gris: #f2f2f2;
    --color-white: white;
    --color-muy-gris: #777;
}

body * { font-family: Quicksand; }
h1, h2 { font-weight: 700; }
strong, h3, h4 { font-weight: 500; }
.uk-logo { max-width: 180px; }
@media (max-width: 479px) { .uk-logo { max-width: 150px; } } 
.uk-logo a { background-color: white; padding: .5rem 1rem; border-radius: 2rem; }
.header:not(.uk-navbar-transparent) { 
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    background-color: var(--color-secondary);
    padding-top: .75rem; padding-bottom: .75rem; } 

.bg-secondary { background-color: var(--color-secondary); }

.header-nav .menu-item a { text-transform: none; font-size: 15px; font-weight: 500; } 

.form-block .form-search { padding-right: 4.25rem; border-radius: 2rem; }
.form-block .form-submit { 
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0; border-radius: 0 2rem 2rem 0;
    display: inline-flex;
    padding: 0 .75rem;
    font-size: 12px; }
.input-head { 
    border-radius: 2rem;
    padding-left: 2.5rem;
    margin-left: -3rem;
    font-size: 14px;
    min-width: 25vw; }

.header .uk-navbar-item, .header .uk-navbar-nav > li > a, .header .uk-navbar-toggle { min-height: 0; }
.button-head { margin-left: 1rem; min-width: 60px; border-left: 1px dotted rgba(255,255,255,.5); padding-left: 1rem; border-radius: 0!important; }
.button-head .uk-icon { display: block; margin: auto; width: 20px; }
.header-nav .solo-search,
.header-nav .solo-footer { display: none!important; }
.header-nav .menu-item { display: flex; }
.header-nav .uk-button { background-color: var(--color-secondary-sub); }
.header-nav .uk-button:hover,
.header-nav .uk-button:focus { background-color: var(--color-primary); }
@media (max-width: 479px) { .button-head { font-size: 10px; min-width: 50px; margin-left: .75rem; } }

.menu--search .solo-header { display: none; }

/* HOME */
.bg-darker::before { content: ''; z-index: 0; background-color: black; display: block; opacity: .125; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.bg-darker > .uk-container { position: relative; z-index: 2; }
.hero-search .form-search { border-color: white; height: 60px; padding-left: 1rem; background-color: white; }
.hero-search .form-search::placeholder { color: #707070; }
.hero-search .form-search:focus::placeholder { color: white; }
.hero-search .uk-input { height: 60px; }
[class*=hero-button]:not(span) { 
    border: 0; background-color: rgba(255,255,255,.25)!important; padding: 1.5rem 1.75rem 1.25rem; margin-left: .5rem; margin-right: .5rem; border-radius: .5rem; }
[class*=hero-button] svg { height: 2rem; margin: auto; fill: #fff; transition: .4s background-color:  } 
[class*=hero-button]:not(span):hover { background-color: rgba(255,255,255,.5)!important; }
[class*=hero-button] .uk-h4 { font-size: 11px; margin-top: 1rem; margin-bottom: 0; }
@media (min-width: 600px) { 
    [class*=hero-button]:not(span) { min-width: 10rem; margin-left: .75rem; margin-right: .75rem; padding: 2rem 3.5rem 1.5rem; } 
    [class*=hero-button] svg { height: 2.5rem; }
    [class*=hero-button] .uk-h4 { font-size: 16px; }
}
@media (min-width: 900px) { 
    [class*=hero-button]:not(span) { min-width: 13rem; } 
    [class*=hero-button] svg { height: 3rem; }
    [class*=hero-button] .uk-h4 { font-size: 18px; }
}

.header-account .uk-navbar-nav {
    display: block; }
.header-account .uk-navbar-nav li a {
    text-transform: none;
    text-align: right;
    padding: 0;
    display: block; }
.uk-offcanvas-bar .uk-navbar-nav {
    display: block;
    text-align: center; }
.uk-offcanvas-bar .uk-navbar-nav li a {
    display: inline-block;
    margin: auto; 
    min-height: 0;
    margin-top: 1.5rem; }


/* PAGE */
.page--header { border-bottom: 1px solid #ccc; margin-bottom: 1.25rem; } 
[class*='page--header-'] > * { margin-bottom: .75rem; }
.page-info { margin-bottom: .5rem; }
.page-tipo { font-size: 1.25rem; border-bottom: 2px solid; }
.page-title { margin-bottom: 1rem; line-height: 1.25; }
.page-badge { font-size: .7rem; }
.page-precio { font-size: 2rem; color: var(--color-secondary-sub); }
.page-modal-share { font-size: .85rem; }
.page--figure { margin-bottom: 1.25rem; }

.page--body p { margin-bottom: 1rem; }
.page--body p a { color: var(--color-secondary); text-decoration: underline; }
.page--body p a:hover { color: var(--color-primary); }
.page--body strong { font-weight: bold; }
.page--body * + * { margin-top: 1rem; }
@media (max-width: 640px) { .page--header { display: block; } }
@media (min-width: 640px) { 
    .page--header-left { max-width: calc(70% - 40px); margin-bottom: .25rem; }
    .page--header-right { border-left: 1px solid #ccc; padding-left: 2rem; } 
}

@media (min-width: 960px) { .sidebar { padding-left: 5%; } .contenido-aside { padding-left: 5%; } }
@media (min-width: 1200px) { 
    .contenido-sidebar { padding-right: 5%; } .sidebar { padding-left: 0%; }   
}

.uk-card-200 .teaser-article { height: calc(100% - 200px); }

.mini-header { flex: 0 0 100px; margin-left: 20px; }
.mini-body { flex: 0 0 calc(100% - 120px); }
.mini-teaser-img { height: 100px; }
.inverse .mini-header { order: 1; margin-right: 20px; margin-left: 0; }

.views-exposed-form { 
    margin-bottom: 1rem;
} 
.views-exposed-form .js-form-item {
    display: block;
    margin-bottom: 1.5rem!important;
}
.views-exposed-form label {
    display: block;
    font-size: 11px;
    color: #404040;
    line-height: 1;
}
.views-exposed-form .form-text {
    padding: .5rem 0;
    border: 0; 
    border-bottom: 1px solid #7777;
    font-size: 15px;
}
.views-exposed-form .uk-accordion-content li {
    display: inline-block;
    margin-right: .5rem;
}
.views-exposed-form .uk-accordion-content li a {
    font-size: 12px;
    display: inline-block;
    background-color: #f2f2f2;
    padding: .25rem .5rem; 
    border-radius: 1rem; 
    margin-top: .5rem;
    position: relative;
}
.views-exposed-form .uk-accordion-content li a:hover,
.views-exposed-form .uk-accordion-content li a:focus { background-color: #ddd; }
.views-exposed-form .uk-accordion-content li a::after {
    content: '';
    width: 1px;
    height: 1px;
    background-color: #777;
    position: absolute;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    left: .5rem;
}
.views-exposed-form .uk-accordion-content li a.bef-link--selected {
    color: var(--color-primary); 
    background-color: rgba(56, 182, 74, .25);
} 
.views-exposed-form .uk-accordion-title { display: block!important; }
.views-exposed-form .uk-accordion-content { display: none!important; } 
.views-exposed-form .uk-open .uk-accordion-content { display: block!important; }
@media (min-width: 900px) {
.views-exposed-form .uk-accordion-title { display: none!important; }
.views-exposed-form .uk-accordion-content { display: block!important; }    
}

.menu--search .uk-navbar-nav > li > a {
    background-color: white;
    color: var(--color-primary);
    border-radius: .5rem;
    line-height: 1;
    padding: .5rem 1rem;
    margin: 0 .5rem;
    min-height: 0;
    border: 1px solid #ccc;
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
    transition: .3s color, .3s background-color, .3s border-color;
}
.menu--search .uk-navbar-nav > li > a:hover,
.menu--search .uk-navbar-nav > li > a.is-active,
.menu--search .uk-navbar-nav > li.menu-item--active-trail > a { 
    color: white;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
@media (max-width: 479px) {
.menu--search .uk-navbar-nav > li > a { font-size: 12px; margin: 0 .25rem; }
}
 

[class*='-button-primary'] { background-color: var(--color-primary); }
[class*='-button-primary']:hover,
[class*='-button-primary']:focus { background-color: var(--color-secondary); }

.uk-label,
.uk-badge { background-color: var(--color-secondary-sub); }
.uk-label {
    font-size: 11px;
    border-radius: 1rem;
    padding-left: .325rem;
    padding-right: .325rem;
    text-transform: none;
    letter-spacing: 1px;
}
.uk-link-toggle:focus .uk-link, 
.uk-link-toggle:hover .uk-link, 
.uk-link:hover, a:hover { color: var(--color-primary); }
.uk-button-danger { background-color: var(--color-secondary-sub); }
.uk-button { border-radius: .75rem; }
.description { font-size: 12px; }
.uk-card-200 .uk-height-medium { height: 200px; }
.uk-card-badge { top: 8px; right: 8px; }

.card-novedades .uk-overlay-primary { background-color: rgba(34,34,34,.5); transition: .4s background-color; }
.card-novedades:hover .uk-overlay-primary { background-color: rgba(34,34,34,.8); }

.uk-card img,
.card-novedades img { transition: .4s transform; }
.uk-card:hover img,
.card-novedades:hover img { transform: scale(1.2); } 

.teaser-footer .uk-button { text-transform: none; font-weight: 700; }

ul.flippy li { white-space: inherit; }
@media (min-width: 640px) { ul.flippy li { width: 50%; } }

.uk-text-primary { color: var(--color-primary)!important; }
.uk-text-secondary { color: var(--color-secondary)!important; }
.uk-border-circle { border-radius: 50% !important; }

.footer {
    font-size: 15px;
}

.page--body li {
    padding-left: 2rem;
    position: relative;
    list-style: none;
    margin-top: .5rem;
}
.page--body li::before {
    content: '';
    width: 2rem;
    height: 1rem;
    display: list-item;
    position: relative;
    left: -2rem;
    margin-bottom: -1rem;
    list-style-type: disc;
    list-style-position: inside;
    text-align: right;
}
#edit-preview { display: none; }
@media (min-width: 640px) {
#block-menufooterlogo { margin: 0 0 1rem!important; }
}

.body--node-12 .uk-card-default { background-color: var(--color-muy-gris); }
.body--node-12 .uk-card-primary { background-color: var(--color-primary); }
.body--node-12 .uk-card-secondary { background-color: var(--color-secondary); }

.uk-modal .uk-button-group a {
    margin-left: .5rem;
    margin-right: .5rem;
}
[class*="-button-primary"][href*="facebook"] {
    background-color: midnightblue;
}
[class*="-button-primary"][href*="twitter"] {
    background-color: skyblue;
}
[class*="-button-primary"][href*="mailto"] {
    background-color: tomato;
}

#block-arky8-local-tasks .uk-button-group .uk-button {
    font-size: 14px !important;
    padding: 0;
    line-height: 1;
    background-color: transparent;
    margin: 0 1rem 0 0 !important;
    text-align: left;
}
#block-arky8-local-tasks .uk-button-group .uk-button a {
    font-size: 12px !important;
    text-transform: none;
    color: var(--color-secondary);
    text-align: left;
}

.caracteristicas {
    border: 2px solid var(--color-primary);
}
.caracteristicas.caracteristicas-final { border-color: var(--color-secondary); }
.caracteristicas .uk-background-secondary { background-color: var(--color-secondary)!important; }

.bg-darker .uk-slideshow-items { min-height: 100%!important }

.uk-accordion .uk-select:not([multiple]):not([size]) {
    font-size: 12px;
    padding: .5rem;
    height: 30px;
    border-radius: 1rem;
    line-height: 1;
    background-color: var(--color-gris);
}