{%
  set classes = [
    'uk-section',
    '' ~ configuration.provider|clean_class
  ]
%}

{% if content['#block_content'].field_bk_bg.value %}
<section {{ attributes.addClass(classes).addClass('uk-background-cover') }} data-src="{{ file_url(content['#block_content'].field_bk_bg.entity.fileuri) }}" uk-img uk-parallax="bgy: -200">
{% else %}
<section {{ attributes.addClass(classes) }}>
{% endif %} 

    {% if logged_in %}
        {{ title_prefix }} 
        {{ title_suffix }}
    {% endif %}

    <div class="uk-container uk-position-relative uk-text-center uk-height-medium">

        <div class="uk-overlay uk-overlay-default uk-position-center">
        
            {% if content['#block_content'].field_bk_tits.value %}
            <h3 class="bk-title uk-h2">{{ content['#block_content'].field_bk_tits.value }}</h3>  
            {% endif %}  

            {% if content['#block_content'].field_bk_txt.value %}
            <p class="bk-txt uk-h4 uk-margin-small-bottom uk-margin-small-top uk-width-4-5 uk-margin-auto-left uk-margin-auto-right">{{ content['#block_content'].field_bk_txt.value }}</p>
            {% endif %}  

            {% if content['#block_content'].field_bk_link.value %}
            <a href="{{ content['#block_content'].field_bk_link.0.url }}" class="uk-button uk-button-danger uk-button-medium uk-border-pill uk-margin-small-top">
              {{ content['#block_content'].field_bk_link.title }}
            </a>
            {% endif %}  

        </div>

    </div> 

</section>