<div id="contacto" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-text-center">
        <h3 class="uk-modal-title">Comuníquese con:</h3>
        <button class="uk-modal-close" type="button"></button>
        <div class="uk-margin-small-top"> 
            {#
            {% if node.field_whatsapp.value|length > 0 %}
            <p>Whatsapp por el producto: <br><a class="uk-button uk-button-danger uk-button-large" href="https://api.whatsapp.com/send?phone=+51{{ node.field_whatsapp.value }}">+51 {{ node.field_whatsapp.value }}</a></p>
            {% endif %}#}
            {% if node.uid.entity.field_user_celular.value|length > 0 %}
                <p>Celular del Vendedor: <br><a class="uk-button uk-button-primary uk-button-large" href="tel:{{ node.uid.entity.field_user_celular.0.value }}">{{ node.uid.entity.field_user_celular.0.value }}</a></p>
            {% endif %}
            <div class="uk-button-group uk-margin-top">
                {% if node.uid.entity.field_user_whatsapp.value|length > 0 %}
                <p>Whatsapp del Vendedor: <br><a class="uk-button uk-button-primary uk-button-large" href="https://api.whatsapp.com/send?phone=+51{{ node.uid.entity.field_user_whatsapp.0.value }}">+51 {{ node.uid.entity.field_user_whatsapp.0.value }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div> 