<form action="{{ url('<front>')|render ~ 'productos' }}" method="get" id="views-exposed-form-buscador-page-buscador" accept-charset="UTF-8" class="uk-search form-block uk-visible@m">
    <div class="js-form-item contents form-item js-form-type-textfield form-item-name js-form-item-name">
        <input data-drupal-selector="edit-name" type="text" name="name" value="" size="30" maxlength="128" placeholder="Busca por marca o modelo" class="form-text uk-input input-head">
    </div>
</form> 