<form action="{{ url('<front>')|render ~ 'productos' }}" method="get" id="views-exposed-form-buscador-page-buscador-" accept-charset="UTF-8" class="uk-search form-block">
    <div class="js-form-item contents form-item js-form-type-textfield form-item-name js-form-item-name">
        <input data-drupal-selector="edit-name" type="text" name="name" value="" size="30" maxlength="128" placeholder="Escribe tu búsqueda" class="form-text uk-input uk-border-pill uk-text-center uk-text-lead">
        {#<div data-drupal-selector="edit-actions" class="form-actions uk-width js-form-wrapper form-wrapper" id="edit-actions--3">
            <input data-drupal-selector="edit-submit-buscador-2" type="submit" id="edit-submit-buscador--2" value="Buscar" class="button js-form-submit form-submit uk-button uk-button-primary uk-button-medium"> 
        </div> #}
    </div>
</form> 