<div id="shareit" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-text-center">
        <h3 class="uk-modal-title">Compartelo desde:</h3>
        <button class="uk-modal-close" type="button"></button>
        <div class="uk-button-group uk-margin-small-top"> 
            <a 
            class="uk-button uk-button-primary uk-border-circle uk-icon uk-padding-small" 
            href="https://www.facebook.com/sharer/sharer.php?u={{ base_path ~ url }}" 
            target="_blank" 
            uk-icon="icon: facebook"></a>
            <a 
            class="uk-button uk-button-primary uk-border-circle uk-icon uk-padding-small" 
            href="https://twitter.com/intent/tweet?url={{ base_path ~ url }}" 
            target="_blank" 
            uk-icon="icon: twitter"></a> 
            <a 
            class="uk-button uk-button-primary uk-border-circle uk-icon uk-padding-small" 
            href="whatsapp://send?text={{ base_path ~ url }}" 
            target="_blank" 
            uk-icon="icon: whatsapp" data-action="share/whatsapp/share"></a>
            <a 
            class="uk-button uk-button-primary uk-border-circle uk-icon uk-padding-small" 
            href="mailto:?subject=%20&amp;body={{ base_path ~ url }}" 
            target="_blank" 
            uk-icon="icon: mail"></a>
        </div>
    </div>
</div> 