<ul class="flippy uk-flex uk-flex-between uk-margin-medium-top uk-child-width-1-2 uk-flex-row uk-flex-wrap">
    {% if first %}
    <li class="flippy-first">{{ first }}</li>
    {% endif %}
    {% if prev %}
    <li class="flippy-previous uk-display-block">
        <a href="{{ prev_url }}">
            <span uk-icon="arrow-left"></span>
            <p class="uk-text-small">{{ prev_label }}</p>
        </a>
    </li>
    {% endif %}
    {% if random %}
    <li class="flippy-random">{{ random }}</li>
    {% endif %}
    {% if next %}
    <li class="flippy-next uk-display-block uk-text-right">
        <a href="{{ next_url }}">
            <span uk-icon="arrow-right"></span>
            <p class="uk-text-small">{{ next_label }}</p>
        </a>
    </li>
    {% endif %}
    {% if last %}
    <li class="flippy-last">{{ last }}</li>
    {% endif %}
</ul>
