{%
  set classes = [
    'bef-links',
    is_nested ? 'bef-nested'
  ]
%}
{%
  set is_nested = true
%}
<div{{ attributes.addClass(classes) }}>
  {% set current_nesting_level = 0 %}
  {% for child in children %}
    {% set item = attribute(element, child) %}
    {% set new_nesting_level = attribute(depth, child) %}
    {% include '@arky8/better_exposed_filters/bef-nested-elements.html.twig' %}
    {% set current_nesting_level = new_nesting_level %}
  {% endfor %}
</div>
