<div class="hero bg-darker uk-position-relative uk-section uk-text-center uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top">
    <div class="uk-position-absolute uk-slideshow uk-position-z-index uk-height-1-1 uk-width-1-1 uk-position-cover" tabindex="-1" uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 6000">
        <ul class="uk-slideshow-items uk-height-1-1">
            {% for bg in node.field_bg %}
            <li class="uk-background-cover uk-height-1-1" data-src="{{ file_url( bg.entity.fileuri ) }}" uk-img uk-parallax="bgy: -200"></li>
            {% endfor %} 
        </ul> 
    </div>
    <div class="uk-container uk-position-relative">  
        <p class="hero-somos uk-margin-auto-left uk-margin-auto-right uk-margin-bottom uk-h2 uk-margin-remove-top uk-margin-medium-bottom uk-width-5-6 uk-width-2-5@m">{{ node.field_home_hacemos.value }}</p>
        {#<p class="hero-call uk-h3 uk-margin-small-top uk-hidden@m">{{ node.field_home_search.value }}</p>
        <div class="hero-search uk-margin-top uk-margin-bottom">
            {% include '@arky8/@includes/searching_home.html.twig' %}
        </div>
        <p class="hero-call-group uk-margin-medium-top uk-margin-small-bottom">{{ node.field_home_links.value }}</p>#}

        <div class="uk-button-group uk-text-center uk-text-capitalize">
            {% for icon in node.field_parrafo_icono_link %}
                <a class="hero-button-{{ loop.index }} uk-button uk-button-default" href="{{ icon.entity.field_link.0.url }}">
                    <img class="uk-animation-stroke" src="{{ file_url(icon.entity.field_svg.entity.uri.value) }}" alt="" uk-svg="" uk-img>
                    <span class="uk-h4">{{ icon.entity.field_link.title }}</span>
                </a> 
            {% endfor %}  
        </div>  
    </div>
</div>
