<div class="uk-width-4-5@m uk-margin-auto">

<header class="page--header uk-text-center">
    <h1 id="title" class="page-title uk-text-center">{{ label }}</span></h1>
</header>
<div class="page--body uk-text-center uk-margin-medium-top">
    {{ node.body.value|raw }}
    <a class="uk-button uk-button-danger uk-button-large uk-margin-medium-top" href="{{ url('<front>') }}">Regresar al home</a>
</div>

</div>