<div class="uk-width-4-5@m uk-margin-auto">

<header class="page--header uk-flex uk-flex-between uk-flex-middle">
    <h1 id="title" class="page-title">{{ label }}</span></h1>
</header>
{% if node.field_imagen_acerca[0].value|length > 0 %}
<figure class="uk-margin-top uk-margin-bottom">    
    <img 
        class="teaser-img"  
        alt="{{ node.field_imagen_acerca.0.alt }}" 
        title="{{ node.field_imagen_acerca.0.title }}" 
        data-src="{{ file_url(node.field_imagen_acerca.0.entity.fileuri | image_style('1600x1000') ) }}" uk-img />  
</figure>
{% endif %}
<div class="page--body">
    {{ node.body.value|raw }}
</div>

</div>