<div class="uk-width-4-5@m uk-margin-auto">

<header class="page--header uk-flex uk-flex-between uk-flex-middle">
    <h1 id="title" class="page-title">{{ label }}</span></h1>
</header>
<div class="page--body">
    {{ node.body.value|raw }}
</div>
<div class="page--more uk-margin-medium-top"> 
    <ul uk-accordion>
        {% for acordion in node.field_acordion %}
        <li {% if loop.first %}class="uk-open"{% endif %}>
            <a class="uk-accordion-title uk-text-secondary" href="#">{{ acordion.entity.field_px_titulo.value }}</a>
            <div class="uk-accordion-content">
                {{ acordion.entity.field_px_cuerpo.value|raw }}
            </div>
        </li> 
        {% endfor %}
    </ul>
</div> 

</div>