<header class="page--header uk-text-center">
    <h1 id="title" class="page-title uk-text-center">{{ label }}</span></h1>
</header>
<div class="page--body uk-text-center">
    {{ node.body.value|raw }}
</div>
<div class="page--more uk-margin-medium-top uk-text-center">
    <div class="uk-child-width-1-3@s uk-grid-small" uk-grid>
        {% for puntos in node.field_portal_tipo %}
            <div>
                <div class="uk-card uk-height-1-1 caracteristicas {% if loop.last %}caracteristicas-final{% endif %} uk-border-rounded">
                    <header class="uk-card-header {% if loop.last %}uk-background-secondary uk-light{% endif %}">
                        <p class="uk-text-right uk-text-lowercase"><a href="" uk-toggle="target: #modal-{{ loop.index }}">ver ejemplo</a></p>
                        <h3 class="uk-h3 uk-text-uppercase uk-margin-remove">{{ puntos.entity.field_px_nombre.value }}</h3>
                        <h4 class="uk-h1 uk-margin-small-top uk-margin-small-bottom">{{ puntos.entity.field_px_precio.value }}</h4>
                        <h5 class="uk-h4 uk-margin-remove uk-text-uppercase">con IGV</h5>
                        <a class="uk-button uk-button-primary uk-margin-top" href="{{ puntos.entity.field_px_enlace.0.url }}">{{ puntos.entity.field_px_enlace.title }}</a>
                    </header>
                    <div class="uk-card-body">
                        {% for puntos_text in puntos.entity.field_px_caracteristicas %}
                            <p>{{ puntos_text.value }}</p>
                        {% endfor %} 
                    </div>
                </div>
                <div id="modal-{{ loop.index }}" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <button class="uk-modal-close-outside" type="button" uk-close></button>
                        <h4 class="uk-modal-title uk-margin-medium-bottom">Ejemplo {{ puntos.entity.field_px_nombre.value }}</h4>
                        <p>{{ puntos.entity.field_px_cuerpo.value|raw }}</p> 
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>