{% set month        = node.created.value|date('F') %}
{% set day          = node.created.value|date('d') %}
{% set year         = node.created.value|date('Y') %}


{% if view_mode == 'teaser' %} 


<a href="{{ url }}" class="uk-inline card-novedades">
    <figure class="teaser-figure">
        {% if node.field_image.value|length > 0 %} {% for item in node.field_image %}
        <img class="teaser-img uk-height-medium" height="{{ item.height }}" width="{{ item.width }}" alt="{{ item.alt }}" title="{{ item.title }}" data-src="{{ file_url(item.entity.fileuri) }}" uk-img />{% endfor %}{% endif %} 
    </figure> 
    <div class="uk-position-small uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-text-center uk-light">
        <p class="teaser-summary uk-h6 uk-margin-small-bottom">{{ '%s de %s del %s'|format(day, month|t, year) }}</p>
        <h4 class="uk-h5 teaser-title uk-margin-medium-bottom uk-margin-small-top">
            {{ label }}
        </h4>  
    </div>
</a>


{% elseif view_mode == 'miniaturas' %}   


<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2 uk-margin uk-box-shadow-hover-large" uk-grid>
    <header class="mini-header uk-card-media-left uk-cover-container uk-flex uk-flex-middle">
        <figure class="uk-border-circle">
            <a href="{{ url }}">
                {% if node.field_image.value|length > 0 %} {% for item in node.field_image %}
                <img class="mini-teaser-img uk-border-circle" height="{{ item.height }}" width="{{ item.width }}" alt="{{ item.alt }}" title="{{ item.title }}" data-src="{{ file_url(item.entity.fileuri | image_style('100x100') ) }}" uk-img />   
                {% endfor %}{% endif %} 
            </a>
        </figure> 
    </header>
    <article class="mini-body">
        <div class="uk-card-body uk-card-small">
            <p class="teaser-summary uk-h6 uk-margin-small-bottom">{{ '%s de %s del %s'|format(day, month|t, year) }}</p>
            <h4 class="uk-margin-remove-bottom uk-margin-remove-top uk-h5">
                <a href="{{ url }}">{{ label }}</a>
            </h4> 
        </div>
    </article>
</div>


{% else %} {# Product full page (default). #}


<header class="page--header uk-flex uk-flex-between uk-flex-middle">

    <div class="uk-display-block">
        <p class="page-info">
            <a class="uk-text-small" href="../../">Inicio</a>&nbsp;/&nbsp;
            <a class="page-tipo uk-text-bold uk-text-lead uk-text-uppercase" href="./">{{ 'Novedades'|t }}</a> 
        </p>
        <h1 id="title" class="page-title">{{ label }}</span></h1>
        <p class="uk-h4 uk-margin-small-top">{{ '%s de %s del %s'|format(day, month|t, year) }}</p>
        <a class="page-modal-share uk-display-inline-block uk-margin-bottom" href="#" uk-toggle="target: #shareit"><span uk-icon="social"></span>Compartir</a>
    </div> 

</header>

<figure class="page--figure uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push">
    <ul class="uk-slideshow-items">
        {% if node.field_image.value|length > 0 %} {% for item in node.field_image %}
        <li class="figure-{{ loop.index }}"> 
            <img uk-cover height="{{ item.height }}" width="{{ item.width }}" alt="{{ item.alt }}" title="{{ item.title }}" src="{{ file_url(item.entity.fileuri) }}" /> 
            <div class="uk-overlay uk-overlay-default uk-position-bottom-right uk-position-small">
                <p class="uk-margin-remove uk-text-lead">{{ item.alt }}</p>
                <p class="uk-margin-remove">{{ item.title }}</p>
            </div>
        </li>
        {% endfor %}{% endif %}
    </ul>
    <div class="uk-light">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
</figure> 

<div class="page--body">
    {{ node.body.value|raw }}
</div>

{% include '@arky8/@includes/share.html.twig' %}


{% endif %}