{% if view_mode == 'teaser' %} 


<div class="uk-card uk-card-200 uk-card-default uk-box-shadow-hover-large">
    <header class="teaser-header uk-card-media-top uk-position-relative"> 
        <figure class="teaser-figure">
            <a href="{{ url }}">
                {% if node.field_pdt_img_pb.value|length > 0 %} 
                <img class="teaser-img uk-height-medium" height="{{ node.field_pdt_img_pb.0.height }}" width="{{ node.field_pdt_img_pb.0.width }}" alt="{{ node.field_pdt_img_pb.0.alt }}" title="{{ node.field_pdt_img_pb.0.title }}" data-src="{{ file_url(node.field_pdt_img_pb.0.entity.fileuri) }}" uk-img /> 
                {% endif %}
                {% if node.field_pdt_img_pi.value|length > 0 %} 
                <img class="teaser-img uk-height-medium" height="{{ node.field_pdt_img_pi.0.height }}" width="{{ node.field_pdt_img_pi.0.width }}" alt="{{ node.field_pdt_img_pi.0.alt }}" title="{{ node.field_pdt_img_pi.0.title }}" data-src="{{ file_url(node.field_pdt_img_pi.0.entity.fileuri) }}" uk-img /> 
                {% endif %} 

                {% if node.field_pdt_img_pa.value|length > 0 %}
                <div class="teaser-slideshows" uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 3000; pause-on-hover: true"> 
                <ul class="uk-slideshow-items uk-display-block uk-height-medium">
                    {% for item in node.field_pdt_img_pa|slice(0, 3) %}
                    <li class="figure-{{ loop.index }}"> 
                        <img class="teaser-img uk-height-medium" height="{{ item.height }}" width="{{ item.width }}" alt="{{ item.alt }}" title="{{ item.title }}" src="{{ file_url(item.entity.fileuri) }}" />
                    </li>
                    {% endfor %} 
                </ul> 
                </div>
                {% endif %}
            </a>
        </figure>
        <div class="uk-card-badge">
            <span class="uk-label">{{ node.field_pdt_estado.entity.label }}</span>
            {% if node.field_pdt_tipo.0.target_id == '3' %}
            {% if node.field_pdt_bici_marca.value|length > 0 %} <span class="uk-label">{{ node.field_pdt_bici_marca.entity.label }}</span> {% endif %}
            {% if node.field_pdt_bici_tipo.value|length > 0 %} <span class="uk-label">{{ node.field_pdt_bici_tipo.entity.label }}</span> {% endif %}
            {% endif %}
            {% if node.field_pdt_tipo.0.target_id == '4' %}
            {% if node.field_pdt_sco_marca.value|length > 0 %} <span class="uk-label">{{ node.field_pdt_sco_marca.entity.label }}</span> {% endif %}
            {% if node.field_pdt_sco_tipo.value|length > 0 %} <span class="uk-label">{{ node.field_pdt_sco_tipo.entity.label }}</span> {% endif %}
            {% endif %}
            {% if node.field_pdt_tipo.0.target_id == '13' %}
            {% if node.field_pdt_accs_marca.value|length > 0 %} <span class="uk-label">{{ node.field_pdt_accs_marca.entity.label }}</span> {% endif %}
            {% if node.field_pdt_accs_tipo.value|length > 0 %} <span class="uk-label">{{ node.field_pdt_accs_tipo.entity.label }}</span> {% endif %}
            {% endif %}
        </div>
    </header>
    <article class="teaser-article uk-card-body uk-padding-small uk-flex uk-flex-column uk-flex-between">
        <div class="teaser-article-body">
            <h4 class="uk-h5 teaser-title uk-margin-small-bottom">
                <a href="{{ url }}">{{ label }}</a>
            </h4>
            {% if node.field_pdt_comentario.value|length > 0 %}
            <p class="teaser-summary uk-h6 uk-margin-small-top uk-margin-small-bottom uk-text-truncate">{{ node.field_pdt_comentario.value }}</p> 
            {% endif %}
        </div>
        <footer class="teaser-footer uk-child-width-1-2@s uk-grid-small uk-text-center uk-margin-small-top uk-margin-small-bottom" uk-grid>
            <p class="uk-h4 uk-text-bold">S/. {{ node.field_pdt_precio.value }}</p>
            <a class="uk-button uk-button-primary uk-button-small" href="{{ url }}">¡Lo quiero!</a>
        </footer>
    </article>
</div>


{% elseif view_mode == 'miniaturas' %}   


<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2 uk-margin uk-box-shadow-hover-large" uk-grid>
    <header class="mini-header uk-card-media-left uk-cover-container uk-flex uk-flex-middle">
        <figure>
            <a href="{{ url }}">
                {% if node.field_pdt_img_pb.value|length > 0 %} 
                <img class="mini-teaser-img" alt="{{ node.field_pdt_img_pb.0.alt }}" title="{{ node.field_pdt_img_pb.0.title }}" data-src="{{ file_url(node.field_pdt_img_pb.0.entity.fileuri | image_style('100x100') ) }}" uk-img /> 
                {% endif %}
                {% if node.field_pdt_img_pi.value|length > 0 %} 
                <img class="mini-teaser-img" alt="{{ node.field_pdt_img_pi.0.alt }}" title="{{ node.field_pdt_img_pi.0.title }}" data-src="{{ file_url(node.field_pdt_img_pi.0.entity.fileuri | image_style('100x100') ) }}" uk-img /> 
                {% endif %}
                {% if node.field_pdt_img_pa.value|length > 0 %} 
                <img class="mini-teaser-img" alt="{{ node.field_pdt_img_pa.0.alt }}" title="{{ node.field_pdt_img_pa.0.title }}" data-src="{{ file_url(node.field_pdt_img_pa.0.entity.fileuri | image_style('100x100') ) }}" uk-img /> 
                {% endif %}
            </a>
        </figure> 
    </header>
    <article class="mini-body">
        <div class="uk-card-body uk-card-small">
            <h4 class="uk-margin-small-bottom uk-h5">
                <a href="{{ url }}">{{ label }}</a>
            </h4>
            {% if node.field_pdt_tipo.0.target_id == '3' %}
            <p class="uk-text-small">{{ node.field_pdt_bici_marca.entity.label }} | {{ node.field_pdt_bici_tipo.entity.label }}</p> 
            {% endif %}
            {% if node.field_pdt_tipo.0.target_id == '4' %}
            <p class="uk-text-small">{{ node.field_pdt_sco_marca.entity.label }} | {{ node.field_pdt_sco_tipo.entity.label }}</p> 
            {% endif %}
            {% if node.field_pdt_tipo.0.target_id == '13' %}
            <p class="uk-text-small">{{ node.field_pdt_accs_marca.entity.label }} | {{ node.field_pdt_accs_tipo.entity.label }}</p> 
            {% endif %}
            <p class="uk-h4 uk-margin-small-top">S/. {{ node.field_pdt_precio.value }}</p>
        </div>
    </article>
</div>


{% elseif view_mode == 'perfil' %}


<a href="{{ path('entity.user.canonical', {'user': node.getOwnerId}) }}" class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2 uk-margin uk-box-shadow-hover-large" uk-grid>
    <header class="mini-header uk-card-media-left uk-cover-container uk-flex uk-flex-middle">
        <figure class="uk-border-circle"> 
            <img class="mini-teaser-img uk-border-circle" src="{{ file_url(node.getOwner.user_picture.0.entity.uri.value) }}" alt="" uk-img/> 
        </figure> 
    </header>
    <article class="mini-body">
        <div class="uk-card-body uk-card-small">
            <h4 class="uk-margin-remove-bottom uk-margin-remove-top uk-h5 uk-text-primary">  
                <span class="uk-text-bold">Ofrecido por: </span>{{ node.getOwner.label }}
            </h4>
            {% if node.getOwner.roles.0.target_id == "perfil_premium" %}
                <p class="teaser-summary uk-h6 uk-margin-small-top">
                    <span uk-icon="icon: star"></span><span uk-icon="icon: star"></span><span uk-icon="icon: star"></span> <br>Perfil Extremo
                </p>
            {% elseif node.getOwner.roles.0.target_id == "perfil_intermedio" %}
                <p class="teaser-summary uk-h6 uk-margin-small-top">
                    <span uk-icon="icon: star"></span> <br>Perfil Destacado
                </p>
            {% elseif node.getOwner.roles.0.target_id == "perfil_basico" %}
                <p class="teaser-summary uk-h6 uk-margin-small-top">
                    <span uk-icon="icon: user"></span> <br>Perfil del Vendedor
                </p>
            {% else %}
                <p class="teaser-summary uk-h6 uk-margin-small-top">
                    <span uk-icon="icon: user"></span> <br>Perfil Autenticado
                </p>
            {% endif %}
        </div>
    </article>
</a>


{% else %} {# Product full page (default). #}

 
<header class="page--header uk-flex uk-flex-between uk-flex-middle">

    <div class="page--header-left uk-align-left@s">
        <p class="page-info">
            <a class="uk-text-small" href="../../">Inicio</a>&nbsp;/&nbsp;
            <a class="page-tipo uk-text-bold uk-text-lead uk-text-uppercase" href="../">{{ node.field_pdt_tipo.entity.label }}</a>
            <span class="page-badge uk-badge uk-text-uppercase uk-text-top">{{ node.field_pdt_estado.entity.label }}</span>
        </p>
        <h1 id="title" class="page-title">{{ label }}</span></h1>
        <h4 class="page-summary">{{ node.field_pdt_comentario.value }}</h4>
        {# si el patita marca bicicletas #}
        {% if node.field_pdt_tipo.0.target_id == '3' %}
            <p><u>Marca:</u> {{ node.field_pdt_bici_marca.entity.label }} | <u>Estilo:</u> {{ node.field_pdt_bici_tipo.entity.label }}</p> 
        {% endif %}
        {# si el patita marca scooters #}
        {% if node.field_pdt_tipo.0.target_id == '4' %}
            <p><u>Marca:</u> {{ node.field_pdt_sco_marca.entity.label }} | <u>Estilo:</u> {{ node.field_pdt_sco_tipo.entity.label }}</p> 
        {% endif %}
        {# si el patita marca accesorios #}
        {% if node.field_pdt_tipo.0.target_id == '13' %}
            <p><u>Marca:</u> {{ node.field_pdt_accs_marca.entity.label }} | <u>Estilo:</u> {{ node.field_pdt_accs_tipo.entity.label }}</p> 
        {% endif %}
    </div>

    <div class="page--header-right uk-align-right@s uk-text-center@s">
        <p class="page-precio uk-text-lead uk-text-bold">S/. {{ node.field_pdt_precio.value }}</p>
        <a class="page-cta uk-button uk-button-primary uk-button-large" href="#" uk-toggle="target: #contacto">Contactar</a>
        <a class="page-modal-share uk-display-block" href="#" uk-toggle="target: #shareit"><span uk-icon="social"></span>Compartir</a>
    </div>

</header>

<figure class="page--figure uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push">
    <ul class="uk-slideshow-items">
        {% if node.field_pdt_img_pb.value|length > 0 %} {% for item in node.field_pdt_img_pb %}
        <li class="figure-{{ loop.index }}"> 
            <img uk-cover height="{{ item.height }}" width="{{ item.width }}" alt="{{ item.alt }}" title="{{ item.title }}" src="{{ file_url(item.entity.fileuri) }}" /> 
            <div class="uk-overlay uk-overlay-default uk-position-bottom-right uk-position-small">
                <p class="uk-margin-remove uk-text-lead">{{ item.alt }}</p>
                <p class="uk-margin-remove">{{ item.title }}</p>
            </div>
        </li>
        {% endfor %}{% endif %}
        {% if node.field_pdt_img_pi.value|length > 0 %} {% for item in node.field_pdt_img_pi %}
        <li class="figure-{{ loop.index }}"> 
            <img uk-cover height="{{ item.height }}" width="{{ item.width }}" alt="{{ item.alt }}" title="{{ item.title }}" src="{{ file_url(item.entity.fileuri) }}" /> 
            <div class="uk-overlay uk-overlay-default uk-position-bottom-right uk-position-small">
                <p class="uk-margin-remove uk-text-lead">{{ item.alt }}</p>
                <p class="uk-margin-remove">{{ item.title }}</p>
            </div>
        </li>
        {% endfor %}{% endif %}
        {% if node.field_pdt_img_pa.value|length > 0 %} {% for item in node.field_pdt_img_pa %}
        <li class="figure-{{ loop.index }}"> 
            <img uk-cover height="{{ item.height }}" width="{{ item.width }}" alt="{{ item.alt }}" title="{{ item.title }}" src="{{ file_url(item.entity.fileuri) }}" /> 
            <div class="uk-overlay uk-overlay-default uk-position-bottom-right uk-position-small">
                <p class="uk-margin-remove uk-text-lead">{{ item.alt }}</p>
                <p class="uk-margin-remove">{{ item.title }}</p>
            </div>
        </li>
        {% endfor %}{% endif %}
    </ul>
    <div class="uk-light">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
</figure> 

<div class="page--body">
    {{ node.field_pdt_descripcion.value|raw }}

    {% if node.field_pdt_tube.value|length > 0 %}
        <iframe width="1920" height="1080" src="https://www.youtube-nocookie.com/embed/{{ node.field_pdt_tube.value }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen uk-responsive uk-video="autoplay: inview"></iframe>
    {% endif %}

    <div class="uk-background-muted uk-margin-medium-top uk-padding-small uk-text-center">
        <a class="page-modal-share uk-display-block uk-text-primary" href="#" uk-toggle="target: #shareit">
            <span uk-icon="social"></span>Compartir
        </a>
    </div>
</div>

{% include '@arky8/@includes/share.html.twig' %}
{% include '@arky8/@includes/contactar.html.twig' %}

{% endif %}