<nav id="header" class="header uk-navbar-container uk-margin uk-light" uk-sticky>
    <div class="uk-container uk-container-expand">
        <div class="uk-navbar" uk-navbar>
            <div class="uk-navbar-left uk-position-relative">
                {{ page.header_left }}
                {% include '@arky8/@includes/searching.html.twig' %}
            </div> 
            <div class="uk-navbar-right uk-position-relative">
                <div class="uk-inline uk-visible@l">
                    {{ page.header_bottom }}
                </div>
                <div class="uk-inline uk-hidden@l">
                    <a href="{{ url('<front>')|render ~ 'productos' }}" class="uk-button uk-text-center button-head uk-button-link" uk-toggle>
                        <span uk-icon="search"></span>
                        <span>Buscar</span>
                    </a>
                </div>
                <div class="uk-inline">
                    <button class="uk-button uk-text-center button-head uk-button-link" type="button">
                        <span uk-icon="users"></span>
                        <span>Usuarios</span>
                    </button>
                    <div class="bg-secondary uk-padding-small" uk-dropdown="mode: click">
                        {{ page.header_right }}
                    </div>
                </div> 
                <div class="uk-inline uk-hidden@l uk-margin-small-right">
                    <a href="#offcanvas" class="uk-button uk-text-center button-head uk-button-link" uk-toggle>
                        <span uk-icon="menu"></span>
                        <span>Menú</span>
                    </a>
                </div>
            </div>
        </div>
    </div> 
</nav>

{% if is_front %} 
<main id="main" class="main">
{% else %} 
<main id="main" class="main uk-section">

    <section id="main-page" class="main-page"> 
        <div class="uk-container uk-position-relative uk-flex uk-flex-between uk-flex-row uk-flex-wrap">
{% endif %} 

        {% if page.sup_content %}
            <section class="sup-page uk-width">
                {{ page.sup_content }}
            </section>
        {% endif %}

        {% if page.aside %}
            <aside class="aside uk-width-1-4@m uk-width-1-5@l">
                {{ page.aside }}
            </aside>
        {% endif %}

        {% if page.sidebar %}
        <div class="contenido-sidebar uk-width-3-5@m uk-width-3-4@l">
        {% elseif page.aside %}
        <div class="contenido-aside uk-width-3-4@m uk-width-4-5@l">    
        {% else %}
        <div class="uk-width">    
        {% endif %}
            {{ page.content }} 
        </div>

        {% if page.sidebar %}
            <aside class="sidebar uk-width-2-5@m uk-width-1-4@l">
                {{ page.sidebar }}
            </aside>
        {% endif %}

    {% if not is_front %} 
        </div>
    </section>
    {% endif %}

    {% if page.first_content %}
    <section id="first-page" class="first-page uk-section"> 
        <div class="uk-container uk-position-relative">
            {% if is_front %}
                <header class="section-header uk-text-center uk-margin-bottom">
                    <h3 class="section-title uk-text-lead">{{ bamboo_render_field('field_home_invita_bici', 'node', 2) }}</h3>
                </header>
            {% endif %} 
            {{ page.first_content }}
            {% if is_front %}
                <footer class="section-footer uk-text-center uk-margin-top"> 
                    <a href="{{ url('<front>')|render ~ 'bicicletas' }}" class="uk-button uk-button-danger uk-button-large">Ver todas las bicicletas</a>
                </footer>
            {% endif %} 
        </div>
    </section>
    {% endif %}

    {% if page.first_content %}
    <section id="second-page" class="second-page uk-section uk-background-muted"> 
        <div class="uk-container uk-position-relative">
            {% if is_front %}
                <header class="section-header uk-text-center uk-margin-bottom">
                    <h3 class="section-title uk-text-lead">{{ bamboo_render_field('field_home_invita_scoo', 'node', 2) }}</h3>
                </header>
            {% endif %} 
            {{ page.second_content }}
            {% if is_front %}
                <footer class="section-footer uk-text-center uk-margin-top"> 
                    <a href="{{ url('<front>')|render ~ 'scooters' }}" class="uk-button uk-button-danger uk-button-large">Ver todas los scooters</a>
                </footer>
            {% endif %} 
        </div>
    </section>
    {% endif %}

    {% if page.first_content %}
    <section id="third-page" class="third-page uk-section"> 
        <div class="uk-container uk-position-relative">
            {% if is_front %}
                <header class="section-header uk-text-center uk-margin-bottom">
                    <h3 class="section-title uk-text-lead">{{ bamboo_render_field('field_home_invita_accs', 'node', 2) }}</h3>
                </header>
            {% endif %} 
            {{ page.third_content }}
            {% if is_front %}
                <footer class="section-footer uk-text-center uk-margin-top"> 
                    <a href="{{ url('<front>')|render ~ 'accesorios' }}" class="uk-button uk-button-danger uk-button-large">Ver todos los accesorios</a>
                </footer>
            {% endif %} 
        </div>
    </section>
    {% endif %}

    {% if page.fourth_content %}
    <section id="fourth-page" class="fourth-page uk-section uk-background-muted"> 
        <div class="uk-container uk-position-relative">
            {% if is_front %}
                <header class="section-header uk-text-center uk-margin-bottom">
                    <h3 class="section-title uk-text-lead">Posts que pueden ayudarte a hacer una compra espectacular</h3>
                </header>
            {% endif %} 
            {{ page.fourth_content }}
            {% if is_front %}
                <footer class="section-footer uk-text-center uk-margin-top"> 
                    <a href="{{ url('<front>')|render ~ 'novedades' }}" class="uk-button uk-button-danger uk-button-large">Ver todas los posts</a>
                </footer>
            {% endif %} 
        </div>
    </section>
    {% endif %}

</main>

{% if page.block_control_1 %}
    {{ page.block_control_1 }}
{% endif %}

<footer id="footer" class="footer uk-section uk-background-secondary uk-light">
    <div class="uk-container uk-position-relative">
        <div class="uk-grid uk-text-center" uk-grid>
            <div class="uk-width-1-3@s uk-width-1-4@m uk-text-left@s">
                {{ page.footer_top }} 
            </div>
            <div class="uk-width-1-3@s uk-width-1-2@m">
                {{ page.footer }}
            </div>
            <div class="uk-width-1-3@s uk-width-1-4@m uk-text-right@s">
                {{ page.footer_bottom }}
                <small>Copyright &copy;2020 Cleta.</small>
            </div>
        </div>
    </div>
</footer>

<div id="offcanvas" uk-offcanvas="overlay: true; flip: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        {{ page.header_bottom }}
    </div>
</div> 

<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet"> 