<section {{ attributes.addClass('loco uk-section') }}>
  {{ title_prefix }}
  {% if label %}
    <h4{{ title_attributes }}>{{ label }}</h4>
  {% endif %}
  {{ title_suffix }}


  
    <div class="uk-container uk-position-relative uk-text-center">
    
      <h3 class="bk-title uk-h3">{{ content['#block_content'].field_bk_titulo.value }}</h3>  

    </div> 

</section>