<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
    <ul uk-accordion>
        <li>
            <a class="uk-accordion-title uk-padding-small uk-display-block uk-text-small uk-text-uppercase uk-background-muted" href="#"><span uk-icon="settings"></span> Filtrar</a>
            <div class="uk-accordion-content">
                {% block content %}
                    {{ content }}
                {% endblock %}
            </div>
        </li>
    </ul>
</div>
