<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

{% if content['#block_content'].field_px_type.0.target_id == '17' %}
    <ul class="enlace--icono uk-iconnav uk-flex-center uk-flex-right@s">
    {% for enlaces in content['#block_content'].field_bk_enlaces %}
        <li class="enlace--icono-item-{{ loop.index }}">
            <a target="{{ enlaces.entity.field_px_enlace.0.url.external ? '_blank' : '_self' }}" href="{{ enlaces.entity.field_px_enlace.0.url }}" class="enlace--icono-link uk-icon-link" uk-icon="{{ enlaces.entity.field_px_enlace.title }}"></a>
        </li> 
    {% endfor %}
    </ul>
{% elseif content['#block_content'].field_px_type.0.target_id == '18' %}
    <ul class="enlace--imagen uk-iconnav uk-flex-center uk-flex-right@s">
    {% for enlaces in content['#block_content'].field_bk_enlaces %}
        <li class="enlace--imagen-item-{{ loop.index }}">
            <a target="{{ enlaces.entity.field_px_enlace.0.url.external ? '_blank' : '_self' }}" href="{{ enlaces.entity.field_px_enlace.0.url }}" class="enlace--imagen-link">
              <img data-src="{{ file_url(enlaces.entity.field_px_imagen.0.entity.fileuri ) }}" alt="{{  enlaces.entity.field_px_imagen.0.alt }} {{ enlaces.entity.field_px_imagen.0.title }}" uk-img>
            </a>
        </li> 
    {% endfor %}
    </ul>
{% else %}
    <ul class="enlace">
    {% for enlaces in content['#block_content'].field_bk_enlaces %}
        <li class="enlace--item-{{ loop.index }}">
            <a target="{{ enlaces.entity.field_px_enlace.0.url.external ? '_blank' : '_self' }}" href="{{ enlaces.entity.field_px_enlace.0.url }}" class="enlace--link">{{ enlaces.entity.field_px_enlace.title }}</a>
        </li> 
    {% endfor %}
    </ul>
{% endif %}

</div>