<article{{ attributes.addClass('profile cleta-profile') }}>

    <div class="uk-flex-middle uk-grid-large uk-grid uk-margin-medium-bottom" uk-grid="">

        <figure class="uk-width-1-1 uk-width-2-5@s uk-width-auto@m uk-first-column">
            <img 
            class="uk-border-circle uk-margin-auto" alt="{{ user.user_picture.0.alt }}" title="{{user.user_picture.0.title }}" 
            data-src="{{ file_url(user.user_picture.0.entity.fileuri | image_style('240x240') ) }}" uk-img /> 
        </figure>
            
        <article class="uk-width-expand arky--body">
            <h1 class="uk-h1">{{ user.name.0.value }}</h1>
            <p><strong>Nombres y Apellidos: </strong>{{ user.field_user_nombre.value }} {{ user.field_user_apellidos.value }}</p> 
            <p><strong>Mail: </strong>{{ user.mail.0.value }}</p>
            <p><strong>Dirección: </strong>{{ user.field_user_direccion.value }}</p>
            <p><strong>Celular: </strong>{{ user.field_user_celular.value }} <strong>Whatsapp: </strong>{{ user.field_user_whatsapp.value }}</p> 
            {% if logged_in %}
            <a class="uk-button uk-button-danger uk-button-large" href="{{ url('<front>') }}node/add/productos">Agregar Producto</a>
            {% endif %}
        </article>
                    
    </div> 

    {% if not logged_in %}

    <hr> 

    <div class="uk-margin-medium-top productos-stripped">
        <h3 class="uk-h3">Mis Productos</h3>
        {{ drupal_region('dashboard') }}
    </div>

    {% endif %}

    {% if logged_in %}
    <hr> 

    <div class="uk-margin-medium-top productos-stripped">
        <h3 class="uk-h3">Mis Productos</h3>
        {{ drupal_region('dashboard') }}
    </div>
    {% endif %}

</article>